<div class="container">
   <div class="form-container">
    <div class="title">Login</div>
    <form [formGroup]  = "loginForm">
        <mat-form-field appearance ="outline">
            <mat-label> Enter your Email</mat-label>
            <input matInput formControlName = "email">
        </mat-form-field>
        <br>
        <mat-form-field appearance ="outline">
            <mat-label> Enter your Password</mat-label>
            <input type = "password" matInput formControlName ="password">
        </mat-form-field>
    </form>
    {{loginForm.value |json}}
    <div class="buttons-container">
        <button class="login-button" mat-raised-button>Login</button>
        <p>OR</p>
        <button routerLink ='/create-account' mat-button> Create Account</button>
    </div>
   </div>
</div>
